* {
    font-family: "inter";
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 250ms;
}

#contactListContent {
    background-color: rgba(255, 255, 255, 1);
    width: 360px;
    height: 84vh;
    overflow-y: scroll;
    margin-left: 232px;
    box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
    padding-left: 52px;
    padding-right: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}


#contact-list {
    padding-top: 42px;
}

#contactListButtonContent {
    position: absolute;
    top: 93px;
    left: 232px;
    width: 395px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 23px;
}

#contactListButtonContent button {
    width: 340px;
    height: 56px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    font-size: 21px;
    line-height: 25.5px;
    color: white;
}

#contactListButtonContent button:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#viewContact {
    padding-top: 32px;
    gap: 21px;
    display: flex;
    flex-direction: column;
}

#contactContent {
    position: absolute;
    top: 100px;
    left: 670px;
    width: auto;
    height: auto;
    padding: 110px 0 0 55px !important;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profilePictureContact {
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgba(255, 199, 0, 1);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
}

.profileName {
    display: flex;
    flex-direction: row;
    gap: 54px;
    ;
}

.profileName h2 {
    font-size: 47px;
    font-weight: 400;
    line-height: 56.4px;
}

.profileName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nameEditBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.showOneContactInfo h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
}

.showOneContactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.showOneContact {
    display: flex;
    flex-direction: column;
    gap: 22px;

}

#emailFromContact {
    text-decoration: underline;
    color: rgba(0, 124, 238, 1);
}

.editDivContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

#editDiv:hover img {
    content: url(/assets/img/edit_contact_blue.png);
}

#editDiv:hover p {
    color: rgba(41, 171, 226, 1);
}

#editDiv:hover {
    cursor: pointer;
}

#deleteDiv:hover img {
    content: url(/assets/img/delete_contact_blue.png);
}

#deleteDiv:hover p {
    color: rgba(41, 171, 226, 1);
}

#deleteDiv:hover {
    cursor: pointer;
}

.editDivContact img {
    height: 24px;
    width: 24px;
}

.contactInformation {
    width: 207px;
    height: 74px;
    gap: 57px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.contactInformation p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.editBox p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.nameBox {
    padding: 5px 5px 5px 0;
}

.editBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

#contactHeadline h1 {
    font-size: 61px;
}

#contactHeadline p {
    font-size: 27px;
    line-height: 32.4px;
}

#headlineLine {
    border: 3px solid rgba(41, 171, 226, 1);
    height: 59px;
}

#contactHeadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.letter-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    border-bottom: solid 1px rgba(209, 209, 209, 1);
    margin-bottom: 5px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 24px 5px 24px;
    gap: 35px;
    height: 78px;
    border-radius: 10px;
}

.contact:hover {
    background-color: rgba(249, 249, 249, 1);
    cursor: pointer;
}

#contacts {
    top: 140px;
    left: 480px;
    padding: 0
}

.oneContact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.oneContact h2 {
    font-size: 21px;
    font-weight: 400;
    line-height: 25.8px;
    font-family: "Inter", sans-serif;
}

.contact {
    width: 291px;
    gap: 10px;
    justify-content: start;
}

.letter-heading {
    width: 25px;
    height: 58px !important;
    padding: 12px 270px 12px 44px;
}

.profile-picture {
    width: 40px;
    height: 40px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    font-family: "Inter", sans-serif;
}

.d-none {
    display: none;
}

.blurBackground {
    position: fixed;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000 !important;
    transition: width 0.3s ease;
}

.blurBackgroundEdit {
    position: fixed;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000 !important;
    transition: width 0.3s ease;
}

#addNewContact {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 1212px !important;
    height: 592px !important;
    border-radius: 30px 30px 30px 30px !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    transition: 250ms;
    z-index: 1000;
    background-color: white;
}



.slide-right {
    -webkit-animation: slide-right 250ms ease-in-out;
    animation: slide-right 250ms ease-in-out;
}

.profileDivContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    gap: 90px;
}

#addNewContactFirstSection {
    height: -webkit-fill-available;
    background-color: rgba(42, 54, 71, 1);
    width: 480px;
    padding: 66px 48px;
    gap: 12px;
    border-radius: 30px 0 0 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


#addNewContactFirstSection div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 12px;
}

.blueLineAddContact {
    width: 90px;
    border: solid rgba(41, 171, 226, 1) 2px;
    border-radius: 30px;
}

#addNewContactFirstSection img {
    width: 55.6px;
    height: 66.48px;
    object-fit: cover;
}

#addNewContactFirstSection h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: white;
}

#addNewContactCloseButton {
    width: 32px;
    height: 32px;
    border-radius: 50px;
}


#addNewContactCloseButton:hover {
    background-color: rgba(217, 217, 217, 0.4);
    cursor: pointer;

}

#addNewContactFirstSection h3 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: white;
}

#closeAddContactDiv {
    width: 710px;
    display: flex;
    justify-content: end;
}

#addNewContactSecondSection {
    padding: 48px !important;
    border-radius: 0 30px 30px 0;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: -webkit-fill-available;
}

#contactInput {
    width: 422px;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 57px;
    gap: 26px;
}

.profilPictureDivContent {
    margin-bottom: 120px;
}


.addContactProfilePicture {
    width: 120px;
    height: 120px;
}

#inputDiv {
    width: 422px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.inputBox {
    height: 24px;
    width: 380px;
    display: flex;
    align-items: center;
    padding: 13px 21px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;

}

.inputBox input {
    font-family: "Open Sans", sans-serif;
    border: none;
    width: 355px;
    height: 35px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    color: black;
    outline: none;
    padding: 3px;
    background-color: white !important;
}

.inputBox input::placeholder {
    color: rgba(209, 209, 209, 1);
}

#addNewContactAlert p {
    color: rgba(255, 129, 144, 1);
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;

}

.addnewContactActive {
    right: none !important;
}

.editContactActive {
    right: none !important;
}

#btnDiv {
    width: 365px;
    height: 61px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#cancelButtonContact img {
    transition: 100ms ease-in-out;
}


#cancelButtonContact:hover img {
    content: url(/assets/img/cancel_blue.png);
}

#cancelButtonContact {
    border: solid 1px rgba(100, 113, 136, 1);
    border-radius: 10px;
    color: rgba(100, 113, 136, 1);
    background-color: white;
    padding: 16px 10px;
    width: 136px;
    height: 61px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 100ms ease-in-out;
}

#cancelButtonContact:hover {
    border: solid 3px rgba(41, 171, 226, 1);
    color: rgba(41, 171, 226, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#cancelButtonContact:active img {
    content: url(/assets/img/cancel\(x\).png);
}

#cancelButtonContact:active {
    border: solid 1px rgba(100, 113, 136, 1);
    border-radius: 10px;
    color: rgba(100, 113, 136, 1);
    background-color: white;
    padding: 16px 10px;
    width: 136px;
    height: 61px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 100ms ease-in-out;
}

#createContactButton {
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    padding: 16px 10px;
    color: white;
    width: 204px;
    height: 61px;
    text-wrap: nowrap;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: 100ms ease-in-out;
    border: none !important;
}


#createContactButton:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none !important;
    cursor: pointer;
}

#createContactButton:active {
    background-color: rgba(9, 25, 49, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none !important;
}


.buttonActive {
    border: solid 1px white !important;
    background-color: white !important;
    color: rgba(69, 137, 255, 1) !important;
    box-Shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

#successfully {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(42, 54, 71, 1);
    border-radius: 20px;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 23px;
    color: #fff;
    z-index: 110;
}

#successfullyContainer {
    z-index: 100;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff6f;
    display: none;
    justify-content: center;
    align-items: center;
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s linear both;
    animation: slide-in-bottom 0.5s linear both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


#addNewContactAlert p {
    color: rgba(255, 129, 144, 1);
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;

}

#editContact {
    position: fixed;
    width: 1212px;
    height: 592px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    transition: 250ms;
    display: flex;
    flex-direction: row;
    z-index: 2;
    background-color: white;
}

#editContactButton {
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    padding: 16px 10px;
    color: white;
    width: 111px;
    height: 61px;
    text-wrap: nowrap;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: 100ms ease-in-out;
    border: none !important;
}

#editContactButton:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none !important;
    cursor: pointer;
}

#editContactButton:active {
    background-color: rgba(9, 25, 49, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none !important;
}

/* #editContactFirstSection {
    height: 100%;
    background-color: rgba(42, 54, 71, 1);
    width: 453px;
    border-radius: 30px 0px 0 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editContactFirstSection div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#editContactFirstSection h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: white;
}

#editContactFirstSection h3 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: white;
}

#addNewContactCloseButton {
    position: absolute;
    top: 31.24px;
    right: 31.24px;
}

#addNewContactCloseButton:hover {
    background-color: rgba(69, 137, 255, 1);
    border-radius: 53px;
    cursor: pointer;
}

#editSecondSectione {
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    border-radius: 0px 0px 30px 30px;
}

#contactInput {
    gap: 24px;
    margin-top: 50px;
    justify-content: center;
}

#contactInput {
    width: 422px;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 32px;
}

.contactInput {
    width: 422px;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 32px;
}

#whiteCircle {
    border-radius: 70px;
    width: 120px;
    height: 120px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
}

#initialsEditContact{
    border-radius: 70px;
    width: 112px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#initials {
    border-radius: 70px;
    width: 112px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#initials h1 {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: white;
}

#initialsText {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: white;
}

#contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

#nameAndEditButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

#inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#cancelButtonContact img {
    transition: 100ms ease-in-out;
}


#cancelButtonContact:hover img {
    content: url(/assets/img/buttonIcons/cancel_blue.png);
}

#cancelButtonContact:active img {
    content: url(/assets/img/buttonIcons/cancel_blue.png);
}

#cancelButtonContact {
    border: solid 1px rgba(100, 113, 136, 1);
    border-radius: 10px;
    color: rgba(100, 113, 136, 1);
    background-color: white;
    padding: 16px 10px;
    width: 136px;
    height: 61px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 100ms ease-in-out;
}

#cancelButtonContact:hover {
    border: solid 3px rgba(69, 137, 255, 1);
    color: rgba(69, 137, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#cancelButtonContact:active {
    border: solid 1px rgba(0, 93, 255, 1);
    color: rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* #createContactButton {
    border: solid 1px rgba(69, 137, 255, 1);
    border-radius: 10px;
    background-color: rgba(69, 137, 255, 1);
    padding: 16px 10px;
    color: white;
    width: 204px;
    height: 61px;
    text-wrap: nowrap;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: 100ms ease-in-out;
} */

/* #createContactButton:hover {
    cursor: pointer;
    background-color: rgba(0, 93, 255, 1);
    border: solid 3px rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#createContactButton:active img {
    content: url(../img/check_blue.png);
}

#createContactButton:active {
    background-color: white;
    border: none;
    color: rgba(69, 137, 255, 1);
}

#safeButton {
    border: solid 1px rgba(69, 137, 255, 1);
    border-radius: 10px;
    background-color: rgba(69, 137, 255, 1);
    padding: 16px 10px;
    color: white;
    width: 204px;
    height: 61px;
    text-wrap: nowrap;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 50px;
    transition: 100ms ease-in-out;
}

#safeButton:hover {
    cursor: pointer;
    background-color: rgba(0, 93, 255, 1);
    border: solid 1px rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#safeButton:active img {
    content: url(/assets/img/buttonIcons/check_blue_contacts.png);
}

#safeButton:active {
    background-color: white;
    border: none;
    color: rgba(69, 137, 255, 1);
} */

