<div class="header">
  <p>Kanban Project Management Tool</p>
  <div class="userIconContainer">
    <a href="/help.html"><img class="helpImg" src="/assets/img/help.png" alt="Help" /></a>
    <div id="userIcon" class="userIcon" onclick="toggleSubMenu()">G</div>
  </div>
</div>
<div id="subMenu" class="subMenu">
  <a class="menuRow" href="/privacyPolicy.html">Privacy Policy</a>
  <a class="menuRow" href="/legalNotice.html">Legal Notice</a>
  <a onclick="logout()" class="menuRow" href="/index.html">Log out</a>
</div>
