
    <div class="header">
      <p>Kanban Project Management Tool</p>
      <div class="userIconContainer">
        <img class="helpImg" src="/assets/img/help.png" alt="Help" />
        <div class="userIcon" onclick="toggleSubMenu()">SM</div>
      </div>
    </div>
    <div id="subMenu" class="subMenu">
      <a class="menuRow" href="/privacyPolicy.html" target="_blank">Privacy Policy</a>
      <a class="menuRow" href="/legalNotice.html" target="_blank">Legal Notice</a>
      <a class="menuRow" href="/index.html">Log out</a>
    </div>
    
  
