<div class="navbar">
  <img class="joinIcon" src="/assets/img/joinWhite.png" alt="Join Icon" />
  <div class="navbarContent">
    <div class="menu">
      <a href="/summary.html" class="summery">
        <img src="/assets/img/summeryIcon.png" alt="Summary" />
        <p>Summary</p>
      </a>
      <a href="/addTask.html" class="addTask">
        <img src="/assets/img/addTask.png" alt="Add Task" />
        <p>Add Task</p>
      </a>
      <a href="/board.html" class="board">
        <img src="/assets/img/boardIcon.png" alt="Board" />
        <p>Board</p>
      </a>
      <a href="/contacts.html" class="conntacts">
        <img src="/assets/img/contacktsIcon.png" alt="Contacts" />
        <p>Contacts</p>
      </a>
    </div>
    <div class="policy">
      <a href="/privacyPolicyNoLogin.html" target="_blank">Privacy Policy</a>
      <a href="/legalNoticeNoLogin.html" target="_blank">Legal notice</a>
    </div>
  </div>
</div>